body{
    background-color: #00072D;
}
.signup-container{
    background-color: white;
    max-width: 30%;
    display: block;
    margin: auto;
    border-radius: 15px;
}
.signup-title{
    color:  #00072D;
    display: flex;
    justify-content: center;
    margin-top: 265px;
}
.usrnme{
    background-color: beige;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.pswrd, .e-mail{
    background-color: beige;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.submit{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    margin-bottom: 10px;
}


/* input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } */